In [ ]:
import pandas as pd

In [ ]:
# Modify display 
pd.set_option('display.max_columns', 85)
pd.set_option('display.max_rows', 85)

In [32]:
# Read CSV file
df = pd.read_csv('../data/survey_results_public.csv')

In [ ]:
# Dictionary
people = {
    "first": ["Clarence", 'Lovely', 'Chico'], 
    "last": ["Subia", 'Magat', 'Shii'], 
    "email": ["clarencesubia@gmail.com", 'lovelymagat@email.com', 'chicoshi@email.com']
}

In [ ]:
df = pd.DataFrame(people)

In [ ]:
df

In [ ]:
# Dataframe -- rows and columns | container for multiple series objects
type(df)

In [ ]:
# Series -- rows of a single columns
type(df['email'])

In [ ]:
# Accessing columns
df['email']

In [ ]:
# Accessing multiple columns -- make note of the inner brackets
df[['first', 'last']]

In [ ]:
# Retrieve all of column names
df.columns

In [ ]:
# Accessing rows using iloc and loc
df.iloc[0]

In [ ]:
# Access multiple rows
df.iloc[[0, 1]]

In [ ]:
 # Access multiple rows and specific column index
df.iloc[[0, 1], 2]

In [ ]:
# Using loc
df.loc[0]

In [ ]:
# Using loc for multiple rows
df.loc[[1,2]]

In [ ]:
# Using loc for multiple rows and specify column labels
df.loc[[1,2], 'email']

In [ ]:
# Using loc for multiple rows and specify multiple column labels
df.loc[[1,2], ['email', 'last']]

In [34]:
# Using the CSV file here
df.columns

Index(['Respondent', 'MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource',
       'Employment', 'Country', 'Student', 'EdLevel', 'UndergradMajor',
       'EduOther', 'OrgSize', 'DevType', 'YearsCode', 'Age1stCode',
       'YearsCodePro', 'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney',
       'MgrWant', 'JobSeek', 'LastHireDate', 'LastInt', 'FizzBuzz',
       'JobFactors', 'ResumeUpdate', 'CurrencySymbol', 'CurrencyDesc',
       'CompTotal', 'CompFreq', 'ConvertedComp', 'WorkWeekHrs', 'WorkPlan',
       'WorkChallenge', 'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev',
       'CodeRevHrs', 'UnitTests', 'PurchaseHow', 'PurchaseWhat',
       'LanguageWorkedWith', 'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

In [39]:
# Count values from a specific columns
df['Hobbyist'].value_counts()

Hobbyist
Yes    71257
No     17626
Name: count, dtype: int64

In [42]:
# Grab specific rows and columns
df.loc[[0,1,2], 'Hobbyist']

0    Yes
1     No
2    Yes
Name: Hobbyist, dtype: object

In [45]:
# Using slicing for grabbing rows and columns -- last value is inclusive
df.loc[0:3, 'Hobbyist':'Employment']

,Hobbyist,OpenSourcer,OpenSource,Employment
0,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work"
1,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work"
2,Yes,Never,The quality of OSS and closed source software ...,Employed full-time
3,No,Never,The quality of OSS and closed source software ...,Employed full-time